.header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}

.App {
  text-align: center;
  display: grid;


  grid-template-areas: 
    "header header header header header"
    "sidebar content content content content";
}