/* .home {

}
 */

.products {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    /* grid-auto-columns: minmax(0, 384px); */

    /* grid-auto-columns: minmax(0, 1fr);  */
    /* grid-auto-flow: column; */

    grid-template-columns: repeat(auto-fill, minmax(0px, 230px));
    justify-content: center;

    padding: 20px 10px;
    gap: 10px 20px;
}

.product-preview {
    text-align: left;
}
  
.product-preview:hover {
    box-shadow: 1px 3px rgba(0,0,0,0.1);
}
  
.product-preview a {
    text-decoration: none;
}

.product-preview h5 {
    color: #00023a9b;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
}
